GROQ_API_KEY=replace_with_your_key
PORT=3000
PYTHON_COMMAND=python
MONGODB_URI=mongodb+srv://zuveriakazi2808_db_user:Sn1k9Ymw1sBxCWoO@cluster0.orze8vs.mongodb.net/engibot?retryWrites=true&w=majority&appName=Cluster0
AUTH_SECRET=replace_with_a_long_random_secret
